# Rename file to .env when you are running the application. Talk to projects owners to get the correct ENV Variables needed.
DATABASE_URL=INSERT_YOUR_URL_HERE
GOOGLE_APP_CREDENTIALS=INSERT_YOUR_CREDENTIALS_HERE
