.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    user-select: none;
}

.grid {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 6;
    width: 100%;
}

.grid-wrapper {
    place-self: stretch;
}

.date-cell {
    width: 100%;
    height: 25px;
    background-color: green;
}

.date-cell:hover {
    background-color: lightgreen;
}