.wrapper {
    display: flex;
    align-items: center;
    width: 80%;
    user-select: none;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 6;
    width: 100%;
    row-gap: 5px;
}

.grid-wrapper {
    place-self: stretch;
}

.date-cell {
    width: 100%;
    height: 25px;
    background-color: whitesmoke;
    outline: 2px solid rgb(105, 100, 100);
}

.date-cell:hover {
    background-color: wheat;
}

.timeText {
    font-size: 10px;
    text-align: right;
    margin: 0;
    margin-right: 4px;
}

.dateLabel {
    font-size: 12px;
    margin: 0;
    margin-bottom: 4px;
}

