@tailwind base;
@tailwind components;
@tailwind utilities;

.events {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 768px) {
  .events {
    display: flex;
    flex-direction: column;
  }
}
