.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: lightgoldenrodyellow;
  font-family:Helvetica, sans-serif;
}


.title {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginButton {
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
  background-color: green;
  border-radius: 30px;
  height: 30px;
}

span {
  font-size: 100px;
}

.footer,
.header {
  flex: initial;
  height: 20%;
  justify-content: center;
  align-items: center;
}


